* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --btn-height: 2em;
    --big-header-font-size: 3.125rem;
    --smaller-header-font-size: 2rem;
    --text-font-size: 1.125rem;
    --big-header-margin-top: 7.5rem;
    --nav-keys: 1rem;
    --pink-color: #fa6400;
    --dark-header-color: #242424;
    --light-dark-color: #5f636a;
    --blue-color: #575aff;
    --white-color-1: #ffffff;
    --white-color-2: #f8f8fb;
    --font-family: Marfa, system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden !important;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    padding: 1.2em;
    margin: 0 auto;
}

header {
    width: 100%;
    position: relative;
    
}
.sub-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 500;
    /* background-color: rgba(255, 255, 255, .8);
    backdrop-filter: blur(15px); */
}
.backg-color {
    background-color: rgba(0, 0, 0, 0);
}

.mobi-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-dark-color);
    padding-bottom: 1em;
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, 0);
   
}
.menu-borders {
    display: block;
    cursor: pointer;
}
.border-1 {
    border: 1px solid var(--dark-header-color);
    width: 20px;
}
.border-2 {
    border: 1px solid var(--dark-header-color);
    width: 20px;
    margin-top: .5em;
}

.sign-in {
    text-decoration: none;
    color: var(--dark-header-color);
}

.sign-in-2-box {
    margin-top: -5px;
}

.sign-in-2 {
    text-decoration: none;
    color: var(--dark-header-color);
    margin-inline: 1em;
}

.desktop-header {
    display: none;
}

.desk-top-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--light-dark-color);
    padding-bottom: .5em;
    margin-bottom: 1em;
}

.top-header-txt {
    margin-inline: .5em;
}

.desk-header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desk-header-boxer-1 {
    display: flex;
    align-items: center;
}

.nav-header {
    display: block;
}

.desk-nav-lists {
    display: flex;
}
.desk-nav-lists:hover .nested-desk-nav-box {
    visibility: visible;
}

.nav-header ul {
    list-style: none;
}

.arrow-down {
    width: 20px;
}

.nav-header ul li {
    display: inline-block;
    padding-left: 1em;
}

.nav-header ul li a {
    color: var(--dark-header-color);
    text-decoration: none;
}

.btn-box {
    display: flex;
    align-items: center;
}

.support-list {
    display: flex;
}

.support-list a {
    color: var(--dark-header-color);
    text-decoration: none;
}

.get-started-btn {
    width: 9.75rem;
    height: 40px;
    font-weight: 600;
    background-color: var(--dark-header-color);
    color: var(--white-color-1);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
}
.all-updates{
    text-align: center;
    color: var(--light-dark-color);
    background-color: var(--white-color-2);
    width: 100%;
    padding: .5em;
   
}
.all-updates-border {
    margin-top: 20px;
    border: 1px solid var(--light-dark-color);
    opacity: .3;
}
.aside-nav-box {
    visibility: visible;
    width: 80%;
    height: 100vh;
    background-color: var(--white-color-1);
    border: 1px solid var(--white-color-1);
    margin-left: 3%;
    left: -470px;
    position: absolute;
    transition: 250ms ease-in-out;
    overflow-y: scroll;
    z-index: 500;
}
.aside-nav-box::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url(/Images/page-background@2x.png);
    background-repeat: no-repeat;
    top: -700px;
    bottom: 0;
    width: 60px;
    height: 100%;
    left: -60px;
}
.left {
    left: 0;
}
.aside-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em;
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(50px);
}
.close-menu {
    cursor: pointer;
}
.nav-aside-boxes h3 {
    font-size: 1rem;
    color: var(--light-dark-color);
    padding-block: 1em;
    text-transform: uppercase;
}
.nav-product ul {
    list-style: none;
}
.nav-product ul li {
    line-height: 2em;
}
.nav-product ul li a {
    text-decoration: none;
    color: var(--dark-header-color);
}
.aside-nav-wrapper {
    margin-left: 1em;
}
.nav-new ul {
    list-style: none;
}
.nav-new ul li {
    line-height: 2em;
}
.nav-new ul li a {
    text-decoration: none;
    color: var(--dark-header-color);
}
.new-styling-list {
    display: flex;
    align-items: center;
}
.better-box {
    margin-inline: 10px;
}
.pink-border {
    color: red;
    background-color: rgb(215, 201, 201);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: relative;
}
.pink-border::before {
    content: '';
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--pink-color);
    top: 3px;
    bottom: 0;
    left: 2px;    
    border-radius: 50%;
}
.border-height {
    border-left: 1px solid var(--light-dark-color);
    height: 30px;
    position: absolute;
    left: 5px;
    margin-top: .1em;
}
.styling-list {
    margin-top: -35px;
    position: relative;
}
.better-box p {
    color: var(--light-dark-color);
}
.nav-learn {
    display: block;
}
.nav-learn ul {
    list-style: none;
}
.nav-learn ul li {
    line-height: 2em;
}
.nav-learn ul li a {
    text-decoration: none;
    color: var(--dark-header-color);
}
.exponential {
    position: relative;
}
.new {
    background-color: var(--light-dark-color);
    color: var(--dark-header-color);
    width: 35px;
    height: 30px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    left: 150px;
    top: -5px;
    font-size: 12px;
}
.toggle-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2em;
}
.toggle-layout-content {
    color: var(--light-dark-color);
}
.sketch-left {
    left: 125px;
}
.arrow-exponential {
    display: flex;
    align-items: center;
}
.arrow-expo-image {
    transform: rotate(45deg);
}
.get-started-box {
    text-align: center;
    position: sticky;
    bottom: 0;
    z-index: 500;
    backdrop-filter: blur(10px);
}
.get-started-2 {
    border: 0;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    height: 40px;
    background-color: var(--dark-header-color);
    color: var(--white-color-1);
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 1em;
    
}
.active {
    visibility: hidden;
}
.overlay {
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: 100;
    
}
.nested-desk-nav-box {
    display: block;
    visibility: hidden;
    background-color: var(--white-color-1);
    width: 600px;
    position: absolute;
    top: 100px;
    /* left: 180px; */
    border: 1px solid var(--light-dark-color);
    border-radius: 10px;
    
}
.nested-desk-nav {
    position: relative;
    display: grid;
    grid-template-columns: 200px 250px;
    grid-gap: 100px;

}
.left-nested-desk-nav {
    padding: 1.2em;
}
.left-nested-nav {
    display: block;
}
.left-nested-nav ul {
    list-style: none;
}
.left-nested-nav ul li {
    display: block;
    line-height: 2.3em;

}
.left-nested-nav ul li a {
    color: var(--dark-header-color);
}
.left-nested-nav ul li a:hover .nested-desk-nav::after {
    width: 0;
}
.nested-better ul li {
    display: flex;
    line-height: 3em;
}
.whats-new {
    color: var(--light-dark-color);
    text-transform: uppercase;
    font-size: .7rem;
    padding-left: 1em;
}
.right-nested-desk {
    border-left: 1px solid var(--light-dark-color);
    padding-left: 1em;
    padding-top: 1.2em;
    margin-left: 1.1em;
}
.right-nav-link {
    margin-left: 1em;
}
.horizontal-border {
    border-top: 1px solid var(--light-dark-color);
    width: 280px;
    margin-block: 1em;
    margin-left: -16px;
    color: var(--light-dark-color);
}
.updates{
    text-align: center;
    width: 200px;
    margin-top: 1em;
    margin-block: 1em;
}
.top-margin {
    margin-top: -2px;
}
.learn-nested-nav {
    display: block;
}
.learn-nested-nav ul {
    list-style: none;
}
.learn-nested-nav ul li {
    display: block;
    line-height: 2em;
}
.learn-nested-nav ul li a {
    text-decoration: none;
}
.learn-nav-width{
    width: 300px;
    border-color: var(--light-dark-color);
    padding: 1em;
}
.events-meet-bottom-border{
    border-bottom: 1px solid var(--light-dark-color);
    padding-bottom: 1rem;
}
.nested-course {
    position: relative;
}
.new-expo {
    font-size: .7em;
    position: absolute;
    padding: 0;
    top: 0;
    left: 160px;
    background-color: var(--light-dark-color);
    border-radius: 15px;
    height: 30px;
    width: 35px;
    text-align: center;
}
.desk-nav-lists:hover .nested-hover-fade {
    opacity: .5;
    transition: .5s ease-in-out;
}
.nested-hover-fade:hover {
    opacity: .5;
    transition: .5s ease-in-out;
}
.hero-page {
    margin-top: 7rem;
}
.hero-content {
    text-align: center;
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    animation:move-up .5s linear 0s 1 alternate;
    width: 90%;
    margin: 0 auto;
}
.editors {
    width: 128px;
    padding: .5rem;
    border-radius: .5rem;
}
@keyframes move-up {
    from {
        transform: translateY(3vh);
    }
    to {
        transform: translateY(0);
    }
}

.hero-paragraph {
    font-size: 1.2rem;
    text-align: center;
    color: var(--light-dark-color);
    animation: para-move .5s linear 0s 1 alternate;
    margin-top: 1rem;
}
@keyframes para-move {
    from {
        transform: translateY(3vh);
    }
    to {
        transform: translateY(0);
    }
}
.illustration-section {
    margin-top: 2.5rem;
    margin-bottom: 4rem;
    border: 1.5px solid var(--light-dark-color);
    border-radius: 1rem;
    width: 95%;
    position: relative;
    /* backdrop-filter: blur(40px); */
    background-color: rgba(255, 255, 255, .64);
    background-color: #fff;
}
.illustration-section ::before {
    display: block;
    /* content: '';
    position: absolute;
    background-image: url(/Images/page-background@2x.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1500px;
    height: 1100px;
    top: -200px;
    bottom: 0;
    right: -200px;
    bottom: 0;
    z-index: -1;
    overflow: hidden; */
}
.editors {
    background-color: #a9acae;
    color: var(--dark-header-color);
}
.design-mac-content {
    margin-block: 1em;
}
.design-mac-content h3 {
    font-size: 1.5rem;
    font-weight: 700;
}
.design-mac-content p {
    color: #212123;
    line-height: 1.5rem;
    margin-block: .5rem;
    /* width: 85%; */
}
.desk-illustration-img {
    display: none;
}
.mobi-illust-img {
    display: block;
    width: 100%;
}
.mobi {
    width: 100%;
}
.download {
    background-color: black;
    color: white;
    width: 180px;
    padding: .5rem;
    border-radius: .4rem;
    font-weight: 600;
    margin-block: 2rem;
}
.mac-download-content {
    font-weight: 501;
    color: #212123;
}
.mac-app-content {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.right-arrow {
    display: flex;
}
.mac-app {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.mac-app-image img {
    width: 64px;

}
.for-everyone-width {
    width: 148px;
}

.padding-remove {
    padding: 0;
}
.illustration-boxes {
    border-bottom: 1px solid var(--light-dark-color);
}
.illustration-box-2 {
    border-bottom: 1px solid var(--light-dark-color);
}
.illustration-section-1 {
    padding: 1.2rem;
}
.illustration-section-2 {
    padding: 1.2rem !important;
   
}
.padding-illustrtn {
    padding: 1.2rem;
}
.download-width {
    width: 240px;
    padding: .7rem;
}
.main-footer {
    border-bottom: 1px solid var(--light-dark-color);
}
.main-footer-heading {
    font-size: 1rem;
    margin-bottom: 0.5rem;

}
.main-footer-blurb {
    color: var(--light-dark-color);
    line-height: 1.4rem;

}
.email-secton {
    /* text-align: center; */
    margin-block: 1rem;
}
.form-input {
    width: 70%;
    height: 39px;
    font-size: 1rem;
    color: #000;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: .1rem .1rem rgba(0 0 0 / 10%);
    border-radius: .5rem;
    border: 1px solid var(--light-dark-color);
    padding: 1.2rem;
    margin: 0 auto;

}
@media only screen and (min-width : 40em){
    .form-input {
        width: 80%;
    }
}
.try-it {
    padding: .5rem;
    border-radius: .5rem;
    font-style: bold;
    font-size: 1.1rem;
    color: white;
    border: 0;
    background-color: var(--light-dark-color);
    cursor: pointer;

}
.check-box-section {
    display: flex;
    
}
.form-check-box {
    border: 1px solid rgba(0, 0, 0, .2);    
    border-radius: .15rem;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    box-shadow: .1rem .1rem rgba(0 0 0 / 10%);
    cursor: pointer;

}
.check-box-content {
    margin-left: 8px;
}
.footer-nav-1 {
    display: block;
    width: 100%;
}
.footer-nav-1 ul {
    list-style: none;
}
.footer-nav-1 ul li {
    line-height: 1.8rem;
}
.footer-nav-1 ul li a {
    text-decoration: none;
    color: var(--light-dark-color);
}
.footer-nav-1 ul li:first-child a {
    font-weight: bold;
    color: var(--dark-header-color);
}
.footer-nav {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 2rem;
    
}
@media only screen and (min-width :40em){
    .footer-nav {
        grid-template-columns: auto auto auto;
    }
}
.footer-logo {
    display: none;
}
.social-icon {
    width: 20px;
    margin-left: 1rem;
    
}
.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-sketch {
    text-align: center;
    margin-block: 2rem;
    color: var(--light-dark-color);
}
.footer-notice {
    margin-block: 2rem;
}
.ribbon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--light-dark-color);
    padding-top: .5rem;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: hsla(0,0%,100%,.8);
    backdrop-filter: blur(15px);
}
.ribbon-content {
    margin-inline: .5rem;
}
/* section for desktop screen--------- */
@media only screen and (min-width: 55em) {
    .mobi-header {
        display: none;
    
    }

    .desktop-header {
        display: block;
    }
    .hero-page {
        margin-top: 4em;
    }
    /* .illustration-section {
        display: flex;
        flex-direction: row-reverse;

    } */
    .illustration-boxes {
        display: flex;
        flex-direction: row-reverse;
        
        
    }
    .illustration-box-2 {
        display: flex;
        
    }
    .illustration-box-3 {
        display: flex;
        flex-direction: row-reverse;
    }
    .illustration-section-1 {
        margin-top: 2rem;
        margin-left: 2rem;
        padding: 1.2rem !important;
    }
    .illustration-section-2 {
        padding: 1.2rem !important;
    }
    .desk-illustration-img {
        display: block;
        width: 400px;
    }
    .desk {
        width: 400px;
    }
    .mobi-illust-img {
        display: none;
    }
    .form-section {
        display: flex;
        align-items: center;
    }
    .form-input {
        width: 185px;
    }
    .section-for-email {
        margin-left: 1rem;
    }
    .footer-logo {
        display: block;
    }
    .footer-sketch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
    }
    .sub-header {
        position: revert;
    }
    .ribbon {
        display: none;
    }
    .hero-content {
        font-size: 4rem;

    }
    .hero-paragraph {
        font-size: 1.5rem;
        width: 57%;
        margin: 0 auto;
    }






}
/* section for larger screen------- */
@media only screen and (min-width : 1100px){
    .hero-content {
        font-size: 5rem;
    }
    .desk-illustration-img {
        width: 600px;
    }
    .desk {
        width: 600px;
    }
    .illustration-line-height {
        line-height: 2.5rem;
    }
    .footer-nav {
        grid-template-columns: auto auto auto auto auto;
    }
  









}